<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yet another JS Console</title>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://127.0.0.1:9099/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="http://127.0.0.1:9099/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
		<script src="http://127.0.0.1:9099/js/jquery-1.11.1.js"></script>
		<script src="http://127.0.0.1:9099/js/faye-browser-min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="http://127.0.0.1:9099/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript">	
		var client = new Faye.Client('http://localhost:9099/faye');

		client.subscribe('/<%=uuid%>', function(message) {
  				//alert('Got a message: ' + message.Data);
  				$("#logField").append("<p> UUID :"+message.UUID+"|| Data :"+message.Data+"</p>");
		});
		</script>
	</head>
	
	<body>
		<h1 align="center"> Log Me </h1>
        <p> You will see you logs below :</p>
		<div id="logField"></div>
	
	</body>

</html>