<!DOCTYPE html>
<html>
    <head>
        <title> Log Me IO's </title>
        <script src="http://127.0.0.1:9099/js/jquery-1.11.1.js"></script>
        <script>
            window.setTimeout(function(){ document.location.reload(true); }, 15000);
            
            function getUUID(){
                $("#uuidVal").hide();
                $.ajax({
                    type : "POST",
                    url : "/listen",
                    success: function(data){
                            $("#uuidVal").html(data);
                    }
            });
                $("#uuidVal").show();

            }
        </script>
    </head>
    <body>
        <h1 align="center"> LOG ME IO's Arrrg!</h1>
        <p> Hello and Welcome to Log Me IO's. This tool will allow you to (hopefully) remotely monitor your console logs from your Application.</p>
        <p> Let's get started by generating a UUID. Click the button below for that </p>
       
        <div align="center"><button id='getUUID' value="Get Me UUID" onclick="javascript:getUUID();">Get UUID</button></div>
		
		<div align="center" id="uuid_field">
			<emp><p id="uuidVal"> </p></emp>
		</div>
        
        <br><br>
        
        <p align="center"> The clients passing log messages to this server is listed below.. Click to see their logs.</p>
        <p align="center"><small>**If you don't yet see your client, kindly refresh this page.**</small></p>
        <%for(var i = 0; i < data.length; i++){%>
            <a href="/<%=data[i]%>"><%=data[i]%></a>
        <%}%>
    </body>
</html>